version: "3.7"
services:
  redis:
    image: redis:5
    ports:
      - "6379"
  api:
    build: .
    image: breg-harvester
    ports:
      - "${HARVESTER_PUBLIC_PORT:-9090}:5000"
    depends_on:
      - redis
    environment:
      HARVESTER_LOG_LEVEL: ${HARVESTER_LOG_LEVEL:-info}
      HARVESTER_REDIS: ${HARVESTER_REDIS:-redis://redis}
      HARVESTER_SPARQL_ENDPOINT: ${HARVESTER_SPARQL_ENDPOINT}
      HARVESTER_SPARQL_UPDATE_ENDPOINT: ${HARVESTER_SPARQL_UPDATE_ENDPOINT}
      HARVESTER_GRAPH_URI: ${HARVESTER_GRAPH_URI:-http://fundacionctic.org/breg-harvester}
      HARVESTER_SPARQL_USER: ${HARVESTER_SPARQL_USER}
      HARVESTER_SPARQL_PASS: ${HARVESTER_SPARQL_PASS}
      HARVESTER_VALIDATOR_DISABLED: ${HARVESTER_VALIDATOR_DISABLED}
      HARVESTER_RESULT_TTL: ${HARVESTER_RESULT_TTL:-2592000}
      HARVESTER_SOURCES: ${HARVESTER_SOURCES}
  worker:
    image: breg-harvester
    depends_on:
      - redis
    command:
      [
        "/usr/local/bin/rq",
        "worker",
        "--with-scheduler",
        "--url",
        "redis://redis",
      ]
